 .background {
     position: fixed;
     right: 0;
     bottom: 0;
     min-width: 100%;
     min-height: 100%;
 }


 h1 {
     text-align: center;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 40px;

 }

 h2 {
     font-size: 60px;
 }

 h3 {
     font-weight: normal;
     font-size: 23px;
 }

 button {
     display: block;
     margin-top: -30px;
     margin-left: 260px;
     border: transparent;
     padding-bottom: 5px;
     cursor: pointer;
     box-shadow: 2px 2px 5px lightgrey;

 }

 button:hover {
     color: grey;
 }

 .currently {
     font-size: 30px;
     font-style: oblique;
 }

 .cloud {
     font-size: 70px;
 }

 .container {
     max-width: 800px;
     margin-top: 50px;
     margin-bottom: 50px;
     

 }

 .card-1 {
    border: solid rgb(212, 169, 224);
     border-width: 10px;
    
    box-shadow: 2px 2px 4px transparent;
 }

 .card-2 {
     max-width: 400px;
     display: block;
     margin: 0 auto;
     margin-top: 10px;
     border: solid rgb(212, 169, 224);
    
     
 }

 hr {
     max-width: 80%;

     border-color: rgb(197, 122, 218);
     border-width: 5px;

 }

 .week {
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
 }

 .weekdays {
     margin-top: 30px;
     margin-bottom: 40px;
 }

 .emoji {
     font-size: 40px;
 }

 .humidity {
     margin-bottom: 20px;
 }

 .weather {
     margin-top: 10px;
 }

 .friday {
     border: solid rgb(212, 169, 224);
     padding-bottom: 20px;

 }

 .saturday {
     border: solid rgb(212, 169, 224);
     padding-bottom: 20px;
 }

 .sunday {
     border: solid rgb(212, 169, 224);
     padding-bottom: 20px;
 }

 .monday {
     border: solid rgb(212, 169, 224);
     padding-bottom: 20px;
 }

 .tuesday {
     border: solid rgb(212, 169, 224);
     padding-bottom: 20px;
 }